/*------------------------------------------------------------------
Variation:  1
Version:    1.0
-------------------------------------------------------------------*/

// Variables
$test_id: "TEST_ID";

// Mixins
@import "utils/scss/mixins.scss";

.#{$test_id} {
  * {
    border: 1px solid red;
  }
  // write your scss code here
}
